#cta{
background:
    linear-gradient(
        rgba(233,238,243,.78),
        rgba(233,238,243,.88)
    ),
    url("../PICTURES/aviant.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 700px;
    color: white;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;    
}
#cta h2{
    font-size:52px;
    color:#0B1F3A;
    margin-bottom:15px;
    margin-top: 0px;
}
#cta p{
    color:#555;
    line-height:1.7;
    font-size:19px;
    max-width: 600px;
}
#cta button{
    padding:14px 30px;
    margin:30px;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    border: 2px solid #D4A017;
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
    transition:all .35s ease;
    object-fit: cover;
}
#cta button:hover{
    background-color:#B8860B;
    transform:translateY(-10px) scale(1.03);
}
.cta-button{
    display: flex;
    justify-content: center;
    gap:10px;

}
