#aviantfooter{
    padding:20px 120px;
    background: linear-gradient(
        to bottom,
        rgba(11,31,58,.92),
        rgba(11,31,58,.98)
    );
    border-top: 3px solid #D4A017;
}
.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:80px;
}
.tagline{
    padding-right: 20px;
}
.tagline h2{
     color:#D4A017;
    font-size:42px;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:12px;
}

.tagline p{
    color:rgba(255,255,255,.88);
    font-size:17px;
    line-height:1.8;
    font-weight:400;
    max-width:320px;
}
.footermenu h2,
.footerservices h2,
.footerprojects h2,
.social h2,
.socialmedia h2{
    color:#D4A017;
    font-size:24px;
    font-weight:700;
    margin-bottom:18px;
}

.footermenu ul,
.footerservices ul,
.footerprojects ul,
.social ul,
.socialmedia ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footermenu li,
.footerservices li,
.footerprojects li,
.social li,
.socialmedia li{
    margin-bottom: 12px;
}

.footermenu a,
.footerservices a,
.footerprojects a,
.social a,
.socialmedia a{
     color:rgba(255,255,255,.9);
    font-size:17px;
    font-weight:400;
    text-decoration:none;
    transition:all .3s ease;
}
.footermenu a:hover,
.footerservices a:hover,
.footerprojects a:hover,
.social a:hover,
.socialmedia a:hover{
    color: #D4A017;
    transform: translateX(5px);
    display: inline-block;
}
.footer-divider{
    width:140px;
    height:2px;
    background:#D4A017;
    margin:24px 0;
    border-radius: 999px;
    transition:all .3s ease;
}
.tagline:hover .footer-divider{
    width:250px;
}
.footer-bottom{
    border-top:1px solid rgba(255,255,255,.12);
    margin-top:40px;
    padding-top:20px;
    text-align:center;
    font-size:14px;
    color:rgba(255,255,255,.6);
}

@media (max-width:600px){

    #aviantfooter{
        width:100%;
        padding:40px 25px;
    }

    .footer-content{
        display:flex;
        flex-direction:column;
        gap:35px;
        align-items:flex-start;
    }

    .tagline,
    .footermenu,
    .footerservices,
    .footerprojects,
    .social,
    .socialmedia{
        width:100%;
    }

    .footer-bottom{
        width:100%;
    }

}
